.container{
    display: flex; 
    float: left;
    margin: 20px;
}
.container{
    width: 50%;
    background-color: none;
    color: white;
}
.container ul{
    padding:0px;
    list-style: none;
    float: right;
}

.container li{
    display: inline;
}

.container a{
    color: grey;
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
    
}

.container1 {
    width: 200px;
    height: 200px;
    flex-wrap: left;
}

/* resize images */
.container1 img {
    width: 100%;
    height: auto;
}





.form-1{
    padding:20;
}

.form-1 .f-group{
    padding-bottom: 15px;
}

.form-1 label{
    display: block;
}

.form-1 input[type="text"], .form-1 textarea{
    padding: 8px;
    width: 100%;

}